body a,
body a.btn.btn-link {
    text-decoration: underline;
    color: #000099;
}

header {
    box-shadow: 0px 0px 1em #333333;
    z-index: 10;
}

    .nav-link .fa-circle-plus {
        font-size: 40px;
        color: #006778;
        margin-right: 0.5rem;
    }

    .nav-link.has-icon {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-link.has-icon > .nav-text {
        text-decoration: underline;
    }
    .nav-link.has-icon:hover > .nav-text,
    .nav-link.has-icon:focus > .nav-text {
        text-decoration: none;
    }

    #cta-add-your-name {
        margin-right: 2em;
    }

    .skip-link {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .skip-link:not(:focus) {
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

main {
    margin-top: 2em;
}

    a.btn span,
    footer #footer-links a span {
        padding-left: 0.5em;
    }

    #the-pledge {
        margin-bottom: 1em;
    }

    #logos {
        text-align: center;
    }

    #logos img {
        max-height: 250px;
        max-width: 250px;
    }

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

    footer {
        text-align: center;
    }

    footer #footer-links a {
        padding: 0 1em;
        white-space: nowrap;
    }

sr-only {
    border: 0 none;
    clip: rect(0px,0px,0px,0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

span.material-symbols-sharp.floating-badge-icon {
    font-size: 4rem;
    display: block;
    float: right;
}